Repository Nextjs-kr/Nextjs.kr, pull requests merged in 2023-07, with the labels that each got.

#260 03-pages -> 02-rendering -> 03-incremental-static-regeneration.mdx 번역
  docs/03-pages/01-building-your-application/02-rendering/03-incremental-static-regeneration.mdx
Labels: documentation, In Review

#282 03-pages > 02-api-reference > 03-next-config-js > pageExtensions.mdx
  docs/03-pages/02-api-reference/03-next-config-js/pageExtensions.mdx
Labels: documentation, In Review

#278 02-app > 02-api-reference > 05-next-config-js > assetPrefix.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/assetPrefix.mdx
Labels: documentation, In Review

#259 02-app > 01-building-your-application > 06-configuring > 02-eslint.mdx
  docs/02-app/01-building-your-application/06-configuring/02-eslint.mdx
Labels: documentation, In Review

#287 docs: 03-pages > 01- building-your-application > 03 - data-fetching -> 04 - incremental-static-regeneration.mdx 번역
  docs/03-pages/01-building-your-application/03-data-fetching/04-incremental-static-regeneration.mdx
Labels: documentation, In Review

#330 docs: mdxRs.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/mdxRs.mdx
Labels: documentation, In Review

#279 03-pages > 01-building-your-application > 01-routing > 07-api-routes.mdx
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
Labels: documentation, In Review

#288 02-app > 02-api-reference > 05-next-config-js > trailingSlash.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/trailingSlash.mdx
Labels: documentation, In Review

#312 02-app > 02-api-reference > 05-next-config.js > env.mdx 번역 초안
  docs/02-app/02-api-reference/05-next-config-js/env.mdx
Labels: documentation, In Review

#286 03-pages > 02-api-reference > 02-functions > get-static-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-props.mdx
Labels: documentation, In Review

#321 02-app > 01-building-your-application > 06-configuring > index.mdx 번역
  docs/02-app/01-building-your-application/06-configuring/index.mdx
Labels: documentation, In Review

#331 03-pages > 02-api-reference > 03-next-config-js > webpack 번역 완료
  docs/03-pages/02-api-reference/03-next-config-js/webpack.mdx
Labels: documentation, In Review

#327 03-pages >> 02-api-reference >> 03-next-config-js >> genetateBuildid.mdx 번역
  docs/03-pages/02-api-reference/03-next-config-js/generateBuildId.mdx
Labels: documentation, In Review

#324 02-app > 02-api-reference > 05-next-config-js > typedRoutes.mdx
  docs/02-app/02-api-reference/05-next-config-js/typedRoutes.mdx
Labels: documentation, In Review

#255 📝 02-app > 01-building-your-application > 08-upgrading > 02-app-router-migration.mdx 번역
  docs/02-app/01-building-your-application/08-upgrading/02-app-router-migration.mdx
Labels: documentation, In Review

#314 03-pages > 01-building-your-application > 01-routing > 09-authenticating.mdx
  docs/03-pages/01-building-your-application/01-routing/09-authenticating.mdx
Labels: documentation, In Review

#326 02-app > 01-building-your-application > 08-upgrading > 02-app-router-migration 번역
  docs/02-app/01-building-your-application/08-upgrading/02-app-router-migration.mdx
Labels: documentation, In Review

#322 02-app > 01-building-your-application > 06-configuring > 05-mdx.mdx
  docs/02-app/01-building-your-application/06-configuring/05-mdx.mdx
Labels: documentation, In Review

#339 docs: 03-pages/01-building-your-application/06-configuring/02-eslint.mdx
  docs/03-pages/01-building-your-application/06-configuring/02-eslint.mdx
Labels: documentation, In Review

#276 02-app > 02-api-reference > 05-next-config-js > webVitalsAttribution.mdx
  docs/02-app/02-api-reference/05-next-config-js/webVitalsAttribution.mdx
Labels: documentation, In Review

#250 03-pages -> 01-building-your-application -> 03-data-fetching-> 06-building-forms.mdx 리뷰 반영
  docs/03-pages/01-building-your-application/03-data-fetching/06-building-forms.mdx
Labels: documentation, In Review

#252 02-app > 02-api-reference > 01-components > script.mdx
  docs/02-app/02-api-reference/01-components/script.mdx
Labels: documentation, In Review

#258 03-pages -> 02-api-reference -> 01-components -> image-legacy.mdx
  docs/03-pages/02-api-reference/01-components/image-legacy.mdx
Labels: documentation, In Review

#268 03-pages => 01-building-your-application => 10-middleware.mdx 번역
  docs/03-pages/01-building-your-application/01-routing/10-middleware.mdx
Labels: documentation, In Review

#261 02-app > 02-api-reference > 02-file-conventions > layout.mdx
  docs/02-app/02-api-reference/02-file-conventions/layout.mdx
Labels: documentation, In Review

#269 02-app > 02-api-reference > 04-functions > use-selected-layout-segment.mdx 번역
  docs/02-app/02-api-reference/04-functions/use-selected-layout-segment.mdx
Labels: documentation, In Review

#274 02-app > 02-api-reference > 04-functions > revalidateTag.mdx
  docs/02-app/02-api-reference/04-functions/revalidateTag.mdx
Labels: documentation, In Review

#275 03-pages > 02-api-reference > 01-components > head.mdx 번역 #146
  docs/03-pages/02-api-reference/01-components/head.mdx
Labels: documentation, In Review

#280 02-app > 02-api-reference > 04-functions > use-params.mdx
  docs/02-app/02-api-reference/04-functions/use-params.mdx
Labels: documentation, In Review

#320 02-app > 02-api-reference > 01-components > image.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: documentation, In Review

#319 02-app > 02-api-reference > 04-functions > use-selected-layout-segments.mdx
  docs/02-app/02-api-reference/04-functions/use-selected-layout-segments.mdx
Labels: documentation, In Review

#318 03-pages > 02-api-reference > 02-functions > get-initial-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-initial-props.mdx
Labels: documentation, In Review

#316 02-app > 02-api-reference > 08-next-cli.mdx 번역
  docs/02-app/02-api-reference/08-next-cli.mdx
Labels: documentation, In Review

#272 02-app > 02-api-reference > 04-functions > use-router.mdx
  docs/02-app/02-api-reference/04-functions/use-router.mdx
Labels: documentation, In Review

#349 Translate: docs > 01-getting-started > index.mdx
  docs/01-getting-started/index.mdx
Labels: documentation, In Review

#361 Translate: docs > 03-pages > 02-api-reference > 03-next-config-js > output.mdx
  docs/03-pages/02-api-reference/03-next-config-js/output.mdx
Labels: documentation, In Review

#345 03.page > 01.building-your-application > 02.rendering > 06.edge-and-nodejs-runtimes.mdx
  docs/03-pages/01-building-your-application/02-rendering/06-edge-and-nodejs-runtimes.mdx
Labels: documentation, In Review

#359 Translate: docs > 01-architecture > turbopack.mdx
  docs/04-architecture/turbopack.mdx
Labels: documentation, In Review

#347 Docs: 02-app > 01-building-your-app-application > 01-routing > 05-dynamic-routes.mdx
  docs/02-app/01-building-your-application/01-routing/05-dynamic-routes.mdx
Labels: documentation, In Review

#337 3-1-8-7-version-9
  docs/03-pages/01-building-your-application/08-upgrading/07-version-9.mdx
Labels: documentation, In Review

#348 Translate: 02-app > 01-building-your-application > 05-optimizing > 04-metadata
  docs/02-app/01-building-your-application/05-optimizing/04-metadata.mdx
Labels: documentation, In Review

#362 docs: translate 03-pages > 01-building-your-application > 05-optimizing > 08-open-telemetry
  docs/03-pages/01-building-your-application/05-optimizing/08-open-telemetry.mdx
Labels: documentation, In Review

#415 04-architecture > accessibility.mdx
  docs/04-architecture/accessibility.mdx
Labels: documentation, In Review

#416 03-pages > 01-building-your-application > 07-deploying > index.mdx
  docs/03-pages/01-building-your-application/07-deploying/index.mdx
Labels: documentation, In Review

#417 02-app > 02-api-reference > 04-functions > use-search-params
  docs/02-app/02-api-reference/04-functions/use-search-params.mdx
Labels: documentation, In Review

#273 02-app > 01-building-your-application > 06-configuring > 06-src-directory.mdx
  docs/02-app/01-building-your-application/06-configuring/06-src-directory.mdx
Labels: documentation, In Review

#285 02-app > 02-api-reference > 05-next-config-js > compress.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/compress.mdx
Labels: documentation, In Review

#251 03-pages > 02-api-reference > 03-next-config-js > runtime-configuration.mdx 번역
  docs/03-pages/02-api-reference/03-next-config-js/runtime-configuration.mdx
Labels: documentation, In Review

#413 03-pages > 01-building-your-application > 08-upgrading > 02-app-router-migration.mdx
  docs/03-pages/01-building-your-application/08-upgrading/02-app-router-migration.mdx
Labels: documentation

#373 03-pages > 02-api-reference > 01-components > script.mdx
  docs/03-pages/02-api-reference/01-components/script.mdx
Labels: documentation, In Review

#424 chore: Auto assign 추가
  .github/workflows/auto-assign.yml
Labels: enhancement

#277 02-app > 02-api-reference > 05-next-config-js > generateBuildId.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/generateBuildId.mdx
  docs/03-pages/01-building-your-application/04-styling/03-css-in-js.mdx
  readme.md
Labels: documentation, In Review

#370 02-app > 02-api-reference > 04-functions > redirect.mdx
  docs/02-app/02-api-reference/04-functions/redirect.mdx
Labels: documentation, In Review

#336 02-app/01-building-your-application/01-routing/06-loading-ui-and-streaming.mdx
  docs/02-app/01-building-your-application/01-routing/06-loading-ui-and-streaming.mdx
Labels: documentation, In Review

#369 02-app > 01-building-your-application > 01-routing > 11-middleware.mdx
  docs/02-app/01-building-your-application/01-routing/11-middleware.mdx
Labels: documentation, In Review

#244 02-app=>02-api-reference=>05-next-config-js=>redirects.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/redirects.mdx
Labels: documentation, In Review

#376 02-app > 02-api-reference > 05-next-config-js > turbo.mdx 번역 (#201)
  docs/02-app/02-api-reference/05-next-config-js/turbo.mdx
Labels: documentation, In Review

#350 Docs: 02-app > 02-api-reference > 05-next-config-js > output.mdx
  docs/02-app/02-api-reference/05-next-config-js/output.mdx
Labels: documentation, In Review

#418 docs: 03-pages > 02-api-reference > 03-next-config-js > env.mdx (수정)
  docs/02-app/01-building-your-application/06-configuring/02-eslint.mdx
  docs/02-app/01-building-your-application/08-upgrading/02-app-router-migration.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/app-icons.mdx
  docs/02-app/02-api-reference/05-next-config-js/env.mdx
  docs/02-app/02-api-reference/05-next-config-js/trailingSlash.mdx
  docs/02-app/02-api-reference/05-next-config-js/typedRoutes.mdx
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/04-incremental-static-regeneration.mdx
  docs/03-pages/01-building-your-application/05-optimizing/06-lazy-loading.mdx
  docs/03-pages/01-building-your-application/06-configuring/12-error-handling.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-props.mdx
  docs/03-pages/02-api-reference/03-next-config-js/env.mdx
Labels: documentation, In Review

#384 03-pages > 01-building-your-application > 06-configuring > 04-absolute-imports-and-module-aliases.mdx
  docs/03-pages/01-building-your-application/06-configuring/04-absolute-imports-and-module-aliases.mdx
Labels: documentation

#389 02-app > 02-api-reference > 05-next-config-js > transpilePackages.mdx
  docs/02-app/02-api-reference/05-next-config-js/transpilePackages.mdx
Labels: documentation, In Review

#383 02-app>02-api-reference>05-next-config-js>images.mdx 번역
  docs/02-app/02-api-reference/05-next-config-js/images.mdx
Labels: documentation, In Review

#246 번역: `03-pages > 02-api-reference > 03-next-config-js > basePath.mdx`
  docs/02-app/02-api-reference/05-next-config-js/basePath.mdx
Labels: documentation, In Review

#364 02-app > 02-api-reference > 07-edge.mdx
  docs/02-app/02-api-reference/07-edge.mdx
Labels: documentation, In Review

#377 03-pages > 01-building-your-application > 08-upgrading > 05-version-11.mdx
  docs/03-pages/01-building-your-application/08-upgrading/05-version-11.mdx
Labels: documentation, In Review

#351 04-automatic-static-optimization.mdx
  docs/03-pages/01-building-your-application/02-rendering/04-automatic-static-optimization.mdx
Labels: documentation, In Review

#412 02-app > 01-building-your-application > 01-routing > 03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: documentation, In Review

#410 02-app > 01-building-your-application > 06-configuring > 03-environment-variables.mdx
  docs/02-app/01-building-your-application/06-configuring/03-environment-variables.mdx
Labels: documentation, In Review

#411 03-pages>01-building-your-application>06-configuring>09-postcss 번역완료
  docs/03-pages/01-building-your-application/06-configuring/09-post-css.mdx
Labels: documentation, In Review
