Repository Nextjs-kr/Nextjs.kr, pull requests merged in 2023-08, with the labels that each got.

#409 03 > 01 > 02-rendering > index.mdx
  docs/01-getting-started/03-react-essentials.mdx
  docs/03-pages/01-building-your-application/02-rendering/index.mdx
Labels: documentation, In Review

#397 02-app > index.mdx 번역
  docs/02-app/index.mdx
Labels: documentation, In Review

#343 02-app > 02-api-reference > 06-create-next-app.mdx
  docs/02-app/02-api-reference/06-create-next-app.mdx
Labels: documentation, In Review

#427 03-pages> 01-building-your-application>05-optimizing> 09-instrumentation.mdx
  docs/03-pages/01-building-your-application/05-optimizing/09-instrumentation.mdx
Labels: documentation, In Review

#407 03-pages → 01-building-your-application → 02-rendering → 02-static-site-generation.mdx
  docs/03-pages/01-building-your-application/02-rendering/02-static-site-generation.mdx
Labels: documentation

#333 docs: 03-pages > 02-api-reference > 02-functions > get-static-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-props.mdx
Labels: documentation, In Review

#395 03-pages > 01-building-your-application >03-data-fetching > 05-client-side.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/05-client-side.mdx
Labels: documentation, In Review

#406 03-pages → 02-api-reference → 03-next-config-js → reactStrictMode.mdx
  docs/03-pages/02-api-reference/03-next-config-js/reactStrictMode.mdx
Labels: documentation, In Review

#366 03-pages > 02-api-reference > 02-functions > next-server
  docs/03-pages/02-api-reference/02-functions/next-server.mdx
Labels: documentation, In Review

#378 03-pages->01-building-your-application->01-routing->02-dynamic-routes.mdx
  docs/03-pages/01-building-your-application/01-routing/02-dynamic-routes.mdx
Labels: documentation, In Review

#382 03-pages > 02-api-reference > 03-next-config-js > compress.mdx 번역
  docs/03-pages/02-api-reference/03-next-config-js/compress.mdx
Labels: documentation, duplicate

#392 02-app > 02-api-reference > 05-next-config-js > webpack.mdx
  docs/02-app/02-api-reference/05-next-config-js/webpack.mdx
Labels: documentation, In Review

#372 03-pages > 01-building-your-application > 07-deploying > 04-ci-build-caching.mdx #107
  docs/03-pages/01-building-your-application/07-deploying/04-ci-build-caching.mdx
Labels: documentation, In Review

#367 02-app > 01-building-your-application > 07-deploying > 01-static-exports.mdx
  docs/02-app/01-building-your-application/07-deploying/01-static-exports.mdx
Labels: documentation, In Review

#379 02-app > 02-api-reference > 05-next-config-js > incrementalCacheHandlerPath.mdx
  docs/02-app/02-api-reference/05-next-config-js/incrementalCacheHandlerPath.mdx
Labels: documentation, In Review

#390 02-app > 01-building-your-application > 06-configuring > 01-typescript.mdx
  docs/02-app/01-building-your-application/06-configuring/01-typescript.mdx
Labels: documentation, In Review

#332 docs/06-configuring/01-typescript
  docs/02-app/01-building-your-application/06-configuring/01-typescript.mdx
Labels: documentation, In Review

#344 docs/03-pages/01-building-your-application/07-deploying/03-multi-zones.mdx
  docs/03-pages/01-building-your-application/07-deploying/03-multi-zones.mdx
Labels: documentation, In Review

#335 optimizing > instrumentation 번역
  docs/02-app/01-building-your-application/05-optimizing/09-instrumentation.mdx
Labels: documentation, In Review

#334 04-architecture > supported-browsers.mdx 번역
  docs/04-architecture/supported-browsers.mdx
Labels: documentation, In Review

#340 docs: 02-app > 01-building-your-application > 01-routing > 02-pages-and-layouts.mdx
  docs/02-app/01-building-your-application/01-routing/02-pages-and-layouts.mdx
Labels: documentation, In Review

#283 02-app > 01-building-your-application > 03-data-fetching > 03-revalidating.mdx
  docs/02-app/01-building-your-application/03-data-fetching/03-revalidating.mdx
Labels: documentation, In Review

#342 02-app>01-building-your-app-application>01-routing>index.mdx 번역
  docs/02-app/01-building-your-application/01-routing/index.mdx
Labels: documentation, duplicate

#402 03-pages > 02-api-reference > 02-functions > get-server-side-props.mdx #42
  docs/03-pages/01-building-your-application/02-rendering/05-client-side-rendering.mdx
  docs/03-pages/02-api-reference/02-functions/get-server-side-props.mdx
Labels: documentation, In Review

#399 03-pages > 01-building-your-application > 02-rendering > 05-client-side-rendering.mdx #40
  docs/03-pages/01-building-your-application/02-rendering/05-client-side-rendering.mdx
Labels: documentation

#431 03-pages 02-api-reference 01-components font.mdx
  docs/03-pages/02-api-reference/01-components/font.mdx
Labels: documentation, In Review

#363 Translate: docs > 03-pages > 01-building-your-application > 06-config…
  docs/03-pages/01-building-your-application/06-configuring/10-custom-server.mdx
Labels: documentation, In Review

#422 02-app > 01-building-your-application > 03-data-fetching > 01-fetching.mdx
  docs/02-app/01-building-your-application/03-data-fetching/01-fetching.mdx
Labels: documentation, In Review
